
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    padding: 20px 20px;
    background-color: #687c9f;
}

header h1 {
    display: inline;
    font-size: 28px;
    color: #feede0;
}

header input[type=text] {
    padding: 10px;
    margin-top: 2px;
    position: absolute;
    top: 15px;
    right: 50px;
}

header button {
    position: absolute;
    top: 17px;
    right: 9px;
    color: #feede0;
    height: 39.5px;
    border: none;
    background-color: #455c82;
}